.git
.github
.venv
**/.venv
__pycache__
**/__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
**/.pytest_cache
.mypy_cache
.coverage
htmlcov
reports
node_modules
**/node_modules
dist
**/dist
build
**/build
.DS_Store
*.log
