# Database
DATABASE_URL=postgresql://user:password@localhost:5432/ifesdoc

# Security
SECRET_KEY=change_this_secret

# Environment
ENVIRONMENT=development

# Frontend
VITE_APP_NAME=IFESDOC
VITE_API_URL=http://localhost:8000
VITE_USE_MOCK_API=true
